<app-nav></app-nav>
<!--BOBY-->
<div class="container-fluid">
    <div class="block-info" style="margin-left: 10%; text-align: center;">
        <h1>Gestión de Ambientes</h1>
        <hr>
        <a>El módulo de gestión de ambientes le permite llevar un control, ademas, puede realizar búsquedas filtradas
            para conocer el estado y registrar la devolución de llaves al momento de un instructor devolverlas.
            <br>Gestión de ambiente le brida la comodidad de saber en qué estado se encuentran los ambientes de
            formación. </a>
    </div><br><br>
    <h2 class="H2">Información de ambientes</h2>
    <br>
    <br>
    <div class="box-table">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped tabled-bordered row-border hover">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre Ambiente</th>
                    <th scope="col">Numero Ambiente</th>
                    <th scope="col">Detalles</th>
                    <th *ngIf="checkID" scopoe="col">Id Solicitud</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of arraySolicitudes">
                    <td>{{ i.fechaHora }}</td>
                    <td>{{ i.idAmbiente.nombre }}</td>
                    <td>{{ i.idAmbiente.id }}</td>
                    <td>
                        {{ i.observaciones }}<br /> Nombre : {{i.idUsuario.nombres}}
                    </td>
                    <td *ngIf="checkID">{{i.idSolicitud}}</td>
                    <td>
                        Llaves en ambiente: {{i.idAmbiente.ocupado}}
                        <button (click)="getLlaves(i.idSolicitud)" *ngIf="i.idAmbiente.ocupado == 'S'" type="button" class="btn btn-primary">
                            Devolución de Llaves
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
<!--/BOBY-->
<app-footer></app-footer>