<!-- NAVBAR  -->
<!-- /NAVBAR  -->
<!--  BODY  -->
<div class="container-fluid">
    <div class="gradiet">
        <div class="row">
            <div class=" col-lg-6 col-md-6 col-sm-6 margin">
                <div class="col-sm-12 main-section">
                    <div class="contained">
                        <div class="col-12 user-img">
                            <img [src]="img_circle" /><br>
                            <h2><a>INICIO DE SESIÓN</a></h2>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12 was-validated" *ngIf="load">
                            <div class="form-group" id="user-group">
                                <img [src]="img_identification" />
                                <input formControlName="identification" type="text" required class="form-control" placeholder="Identificación" name="identification" />
                            </div>
                            <div class="form-group" id="contrasena-group">
                                <img [src]="img_password" />
                                <input formControlName="password" type="password" required class="form-control password" placeholder="Password" name="password" />
                            </div>
                            <button type="submit" class="btn btn-primary" style=" color: black; margin-left: 30px;">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!load" class="d-flex justify-content-center">
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only  ">Loading...</span>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</div>

<!--  /BODY  -->
<!--  FOOTER  -->
<!--  /FOOTER -->