<router-outlet></router-outlet>
<!-- <app-login></app-login> -->
<!-- <app-inicio-admin></app-inicio-admin> -->
<!-- <app-register-user-admin></app-register-user-admin> -->
<!--<app-consult-user-admin></app-consult-user-admin>-->
<!--<app-register-room-admin></app-register-room-admin>-->
<!--<app-consult-room-admin></app-consult-room-admin>-->

<!--<app-inicio-security-g></app-inicio-security-g>-->
<!--<app-consult-info-room-security-g></app-consult-info-room-security-g>-->
<!--<app-register-change-security-g></app-register-change-security-g>-->
<!--<app-consult-change-security-g></app-consult-change-security-g>-->

<!--<app-inicio-instru></app-inicio-instru>-->
<!--<app-report-news-instru></app-report-news-instru>-->
<!--<app-consult-room-instru></app-consult-room-instru>-->
<!--<app-pass-key-instru></app-pass-key-instru>-->
<!--<app-profile></app-profile> -->



