<!--  FOOTER  -->
<footer class="alx-footer font-1">
    <div class="container-fluid text-aling center">
        <nav class="row">
            <ul class="col-md-4 col-sm-12 list-unstyled">
                <li class="font-weight-bold text-uppercase">
                    <a>Desarrollado en Armenia Quindío (2020)</a></li>
                <a> enfocado al Servicio Nacional de Aprendizaje SENA</a>
            </ul>
            <div class="img">
                <a class="col-md-3 text-reset "><img [src]="img_footer"></a>
            </div>
            <ul class="col-sm-12 col-md-4 list-unstyled">
                <li class="font-weight-bold text-uppercase">developmenta.companyAQ@gmail.com
                </li>
                <a class="font-weight-bold text-uppercase">(+57) 318 260 11 47 - (+57) 300 590 55 57</a>
            </ul>
        </nav>
    </div>
</footer>
<!--  /FOOTER -->