<app-nav></app-nav>
<!--BOBY-->
<div class="container-fluid">
    <div class="box-info" style="text-align: center;  font-family: 'Times New Roman', Times, serif; margin-top: 2%;">
        <h1>Información del usuario</h1><br>
        <hr>
        <a>El módulo de información del usuario está habilitado para que actualice la información constantemente de ser
            necesario;
            <br>Brindamos la seguridad de que sus datos se actualizarán correctamente y que serán manipulados con
            precaución en el sistema. </a><br><br><br>
    </div>
    <h2>Información personal del Usuario</h2><br>
    <div class="box-form">
        <div class="re-box" style="text-align: center;">
            <form [formGroup]="form" class="was-validated">
                <div class="col-sm-4">
                    <div class="icon"><i class='fas fa-address-card' style='font-size:36px'></i></div>
                    <input *ngIf="verificador== false" required [(ngModel)]="id" formControlName="identificacion" type="text" class="form-control" id="identification" placeholder="Identificación">
                    <input *ngIf="verificador==true" disabled [(ngModel)]="id" formControlName="identificacion" type="text" class="form-control" id="identification" placeholder="Identificación">

                </div><br>
                <div class="col-sm-4">
                    <div class="icon"><i class='far fa-id-badge' style='font-size:36px'></i></div>
                    <input [(ngModel)]="nombres" formControlName="nombre" type="text" class="form-control" id="names" placeholder="Nombres">
                </div><br>
                <div class="col-sm-4">
                    <div class="icon"><i class='far fa-id-card' style='font-size:36px'></i></div>
                    <input [(ngModel)]="apellidos" formControlName="apellido" type="text" class="form-control" id="lastname" placeholder="Apellidos">
                </div><br>
                <div class="col-sm-4">
                    <div class="icon"><i class='fas fa-envelope' style='font-size:36px'></i></div>
                    <input [(ngModel)]="email" formControlName="email" type="text" class="form-control" id="email" placeholder="Correo">
                </div><br>
                <div class="col-sm-4">
                    <div class="icon"><i class='far fa-address-book' style='font-size:36px'></i></div>
                    <input [(ngModel)]="telefono" formControlName="telefono" type="text" class="form-control" id="phone" placeholder="Teléfono">
                </div><br>
                <div class="col-sm-4">
                    <div class="icon"><i class='fas fa-key' style='font-size:36px'></i></div>
                    <input formControlName="contraseña" type="text" class="form-control" id="password" placeholder="Contraseña">
                </div>
                <button *ngIf="validador" (click)="putUser()" type="button" class="btn btn-outline-primary col-sm-4">Actualizar</button><br>
                <button (click)="getUsuario()" type="button" class="btn btn-outline-primary col-sm-4">Consultar</button><br>
                <button (click)="updateEstado()" *ngIf="auth.isAdmin() | async" type="button" class="btn btn-primary col-sm-4" data-toggle="modal" data-target=".bd-example-modal-sm">Dar de
                    baja</button>
            </form>
            <div class="spant">
                <img [src]="img_profile">
            </div>
        </div>
        <!-- Small modal -->
    </div>
    <app-footer></app-footer>

    <!--/BOBY-->