@media (min-width:1326px) {
    .container-fluid {
        min-height: calc(100vh);
        padding: 0%;
        margin: 0%;
    }
    .btn-primary {
        background-color: rgb(252, 116, 5, 0.9);
        border-color: rgb(252, 116, 5);
    }
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: rgb(252, 116, 5);
        border-color: rgb(252, 116, 5);
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active,
    .btn-outline-primary:not(:disabled):not(.disabled):active,
    .show>.btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: rgb(252, 116, 5);
        border-color: rgb(252, 116, 5);
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: rgb(252, 116, 5);
        border-color: rgb(252, 116, 5);
    }
    .btn-outline-primary {
        color: rgb(252, 116, 5);
        border-color: rgb(252, 116, 5);
    }
    .form-control {
        margin-left: 40%;
        display: block;
        width: 20%;
        height: calc(1.5em + .75rem + 2px);
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    .container {
        margin: 3%;
    }
    .solicitar-reporte {
        margin-left: 0%;
    }
    .icon {
        align-content: center;
        margin-left: -19%;
        float: left;
    }
    .alert {
        margin-top: 3%;
        margin-left: 20%;
        margin-right: 15%;
    }
    .text-alert {
        margin-top: -4%;
        margin-left: 5%;
    }
    .notification {
        margin-top: -3%;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
    }
    .box {
        margin-top: -30px;
        margin-right: 0%;
    }
    .alert {
        margin-right: 8%;
    }
    .icon-i {
        float: left;
        margin-left: 20px;
        margin-top: 10px;
    }
    .text-alerti {
        margin-left: 10%;
    }
    .form-inline {
        margin-bottom: 40px;
        margin-left: 2%;
    }
    .form-text {
        margin-left: 2%;
        margin-right: 8%;
        height: 100px;
    }
}

@media (max-width:375px) {
    .my-custom-scrollbar {
        position: relative;
        height: 280px;
        overflow: auto;
        width: 380px;
    }
}