<app-nav></app-nav>
<!--BOBY-->
<div class="container-fluid">
    <nav id="sidebar" class="">
        <h1><a class="logo">Administrador</a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a [routerLink]="['/registerRoomAdmin']"><span class="fa fa-home mr-3"></span> Registrar Ambiente</a>
            </li>
            <li>
                <a [routerLink]="['/consultRoomAdmin']"><span class="fa fa-search fa-fw"></span> Consultar Ambiente</a>
            </li>
        </ul>
    </nav><br>
    <div class="box-info">
        <h1>Gestión consulta de ambientes</h1>
        <hr>
        <a>El módulo de gestión consulta de ambientes le permite consultar la información de los ambientes con su
            respectivo inventario.
            <br></a><br><br><br>
    </div><br>
    <div class="box">
        <h3 class="H2">Consultar Ambientes</h3><br>
        <form [formGroup]="consultar" class="form-inline my-2 my-lg-0 was-validated" (ngSubmit)="getAmbiente()">
            <input formControlName="numero" class="form-control mr-sm-2" required type="text" placeholder="12" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class='fas fa-search'
                    style='font-size:20px'></i></button>
        </form>
        <form>
            <div class="box-form">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="input">Nombre Ambiente</label>
                        <input disabled value="{{nombreAmbiente}}" type="text" class="form-control" placeholder=" Gestion Salud">
                    </div><br>
                    <div class="col-sm-4">
                        <label for="input"> Número Ambiente</label>
                        <input disabled value="{{numeroAmbiente}}" type="text" class="form-control" placeholder=" 12 ">
                    </div>
                </div>
                <br>
                <h3 class="H2">Información de inventario</h3><br>
                <form class="form-inline">
                    <div class="form-group" *ngFor="let i of arrayAmbiente; let indice = index">
                        <label for="input">Nombre</label>
                        <input disabled value="{{i['idArticulo']['nombre']}}" type="text" class="form-control mx-sm-4" placeholder="computador">
                        <label for="input">Cantidad</label>
                        <input disabled value="{{i['cantidad']}}" type="text" class="form-control mx-sm-3" placeholder=" 2 ">
                    </div>
                </form>
            </div>
            <div class="check">
                <div class="form-check form-check-inline disabled">
                    <label for="input">Estado del ambiente: </label>
                    <input disabled value="{{estado}}" type="text" id="state" class="form-control mx-sm-4" placeholder="Ambiente Activo">
                </div>
                <br>
            </div>
        </form>
        <br>
    </div>
</div>
<!--/BOBY-->
<app-footer></app-footer>